*, *:after, *:before {
  box-sizing: border-box;
}

header {
  text-align: center;
  background: black;
  color: white;
  width: 65%;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 4px;
}

.fa {
  font-size: 2rem;
}

span h2 {
  display: inline;
}

.song-title:not(:first-child) {
  border-top: 1px solid gray;
}

article {
  height: 50px;
}

.container {
  width: 65%;
  margin: 0 auto;
}
